/*.horizontal_bar {
  width:100%;
  height:100%;
  background-color:red;
  border-radius: 10px;
  
  animation: pulse 3s linear infinite alternate; 
}*/

@keyframes pulse {
	from {
	  //margin-left: 10px;
	  width: 20px;
	}
  
	100% {
	  width: 300px;
	}
  }
  
  .horizontal_bar {
	height: 50px;
	width: 0%;
	background: red;
	position: absolute;
	//bottom: 150px;
	//left: 20%;
	border-radius: 10px;
	//margin: auto;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}


.horizontal_bar::before {
	content: "";
	display: block;
	height: 0.1rem;
	position: absolute;
	top: 0.3rem;
	//left: 50%;
	left: 50%;
	transform: translateX(-50%);
//	width: calc(100% - 7.5rem);
	width: calc(100% - 1.5rem);
	
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	//opacity: 0;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
} 

  
  .vertical_bar {
	  position: absolute;
	  top: 280px;
	  width: 100%;
	  height:20px;
	  border-radius: 10px;
	  font-size: 2rem;
	  font-weight: 600;
		  
	  border: 1px solid #012880;
	  background-image: linear-gradient(-180deg, #FF89D6 0%, #C01F9E 100%);
	  box-shadow: 0 1rem 1.25rem 0 rgba(22,75,195,0.50),
							  0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
							  0 0.75rem 0.5rem rgba(255,255,255, 0.4) inset,
							  0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
  }
  
  @keyframes mymove {
	from {height: 10px;}
	to {height: 200px;}
  }
  
  
  
  .vertical_bar::before {
	  content: "";
	  display: block;
	  height: 0.25rem;
	  position: absolute;
	  top: 0.5rem;
	  //left: 50%;
	  left: 50%;
	  transform: translateX(-50%);
  
	  width: calc(100% - 1.5rem);
	  background: #fff;
	  border-radius: 100%;
	  animation: myopacity 3s alternate infinite;
	  //opacity: 0.7;
	  //opacity: 0;
	  background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
  } 
  
  @keyframes myopacity {
	  0% {opacity: 0;}
	10% {opacity: 0;}
	  20% {opacity: 0.7;}
	100% {opacity: 0.7;}
  }
  
  /*@media (prefers-reduced-motion: reduce) {
	.horizontal_bar {
	  animation: none;
	}
  }*/
  